.wrapper {
    padding: 1rem;
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 100vh;
    box-sizing: border-box;
    .container {
        width: 100%;
        flex: content;
        overflow-y: scroll;
        table {
            table-layout: fixed;
            border-collapse: collapse;
            padding: 0.5rem;
            th, td {
                padding: 0.5rem;
                min-height: 5rem;
            }
            .description {
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;  /* Number of lines displayed before it truncate */
                overflow: hidden;
            }
        }
    }
}