<div class="wrapper">
    <div class="top">
        <img src="{{this.pokemonService.currentPokemon.sprite}}" alt="">
        <div>
            <h1>{{this.pokemonService.currentPokemon.name}}</h1>
            <li> 
                <ul *ngFor="let ability of this.pokemonService.currentAbilities">
                    {{ ability.name }} : {{ ability.description }}
                </ul>
            </li>
        </div>
    </div>
    <div class="middle">
        <li>
            <ul *ngFor="let stat of this.pokemonService.currentPokemon.stats;">
                {{ stat.stat }} : {{ stat.amount }}
            </ul>
        </li>
        <li>
            <ul *ngFor="let stat of this.pokemonService.currentPokemon.stats;">
                {{ stat.stat }} : {{ stat.amount }}
            </ul>
        </li>
    </div>
    <div class="bottom">
        <div class="box" *ngFor="let number of this.pokemonService.defenceKeys">
            <div class="boxLeft">{{number}}</div>
            <div class="boxRight">
                <app-tag *ngFor="let type of this.pokemonService.currentEffectiveness.defence[number]" [type]=type></app-tag>
            </div>
        </div>
    </div>
</div>
