.wrapper {
    padding: 1rem;
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 100vh;
    box-sizing: border-box;


    .top {
        display: flex;
        min-height: 30vh;
        .top-left {
            display: flex;
            flex-direction: column;
            img {
                height: 10rem;
                width: 10rem;
            }
            li {
                display: flex;
                width: 100%;
                justify-content: space-around;
            }
        }

        .top-right {
            display: flex;
            flex-direction: column;
            li {
                list-style: none;
                ul {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }

    .middle {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 5rem;
        div {
            display: flex;
            width: 100%;
        }
        
        li {
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 1.5rem;
            width: 100%;
            padding-left:2rem;

            ul {
                padding: 0;
            }
        }
    }

    .bottom {
        flex: content;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        gap: 0.5rem;

        .box {
            flex: content;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            .box-left{
                display: flex;
                width: 15%;
                height: 100%;
                justify-content: center;
                align-items: center;
                border-right: 0.1rem solid black;
            }
            .box-right{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                padding: 0 1rem;
                gap: 0.5rem;
            }
        }
    }
}