<div class="wrapper">

    <div class="top">
        <div class="top-left">
            <img src="{{this.pokemonService.currentPokemon.sprite}}" alt="">
            <li>
                <ul *ngFor="let type of this.pokemonService.currentPokemon.types">
                    <app-tag [type]=type></app-tag>
                </ul>
            </li>
        </div>
        <div class="top-right">
            <h1>{{this.pokemonService.currentPokemon.name}}</h1>
            <li> 
                <ul *ngFor="let ability of this.pokemonService.currentAbilities">
                    {{ ability.name }} : {{ ability.description }}
                </ul>
            </li>
        </div>
    </div>


    <div class="middle">
        <div>
            <h3>select</h3>
            <li>
                <ul *ngFor="let stat of this.pokemonService.currentPokemon.stats;">
                    {{ abbreviate(stat.stat) }} : {{ stat.amount }}
                </ul>
            </li>
        </div>
        <div>
            <h3>select</h3>
            <li>
                <ul *ngFor="let stat of this.pokemonService.currentPokemon.stats;">
                    {{ abbreviate(stat.stat) }} : {{ stat.amount }}
                </ul>
            </li>
        </div>
    </div>


    <div class="bottom">
        <div class = "box" *ngFor="let number of this.pokemonService.defenceKeys">
            <div class="box-left">{{number}}</div>
            <div class="box-right">
                <app-tag *ngFor="let type of this.pokemonService.currentEffectiveness.defence[number]" [type]=type></app-tag>
            </div>
        </div>
    </div>

</div>
