/* You can add global styles to this file, and also import other style files */
// types: Array<string> = ['bug', 'dark', 'dragon', 'electric', 'fairy', 'fighting', 'fire', 'flying', 'ghost', 'grass', 'ground', 'ice', 'normal', 'poison', 'psychic', 'rock', 'steel', 'water'];
:root {
    --white: #efefe6;
    --light-white: #ffffff;
    --black: #131313;
    --light-black: #181818;
    --light-blue: #aac3cd;
    --purple: #8b3bdb;
    --light-purple: #e196c1;
    --orange: #f83d0c;
    --light-orange: #fa7451;
    --yellow: #fcac14;
    --brown: #a66333;

    --bug: #a6b91a;
    --dark: #705746;
    --dragon: #6f35fc;
    --electric: #fcac14;
    --fairy: #d685ad;
    --fighting: #b22234;
    --fire: #ee8130;
    --flying: #a98ff3;
    --ghost: #735797;
    --grass: #7ac74c;
    --ground: #e2bf65;
    --ice: #96d9d6;
    --normal: #a8a77a;
    --poison: #a33ea1;
    --psychic: #f95587;
    --rock: #b6a136;
    --steel: #b7b7ce;
    --water: #6390f0;

    --physical: #fa7451;
    --special: #8b3bdb;
    --status: #f95587;

}
html, body {
    margin: 0;
    padding: 0;
    color: var(--black);
    background-color: var(--white);
    font-family: "open sans", sans-serif;
}
li, ul {
    list-style: none;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}